---
layout: main-layout
---

<div class="centered-heading">
     <img src="/_media/images/{{title | slug}}.jpeg" alt="Logo">

     <h1>{{ title }} </h1>

     <h2>{{ dates }} at {{ times }}, {{ venue }}</h2>
</div>

{{ description | markdownify  }}

<h2>Rules and Regulations</h2>
{{ rules | markdownify  }}

<h2>Dates, times, and venues</h2>
<b>Date & time: </b>{{ dates }} {{ times }}<br>
<b>Venue: </b>{{ venue }}<br>