---
layout: main-layout
---

<h1>{{ title }} </h1>

{{ description | markdownify }}

<h2>Rules and Regulations</h2>
{{ rules | markdownify }}

<h2>Dates, times, and venues</h2>
<b>Date & time: </b>{{ dates }} {{ times }}<br>
<b>Venue: </b>{{ venues }}<br>